<nb-card>
    <nb-card-header>
        <h3>{{currentChapter.title}}</h3>
        <span>by {{currentChapter.writer.username}}</span>
    </nb-card-header>

    <nb-card-body>
        <p>{{currentChapter.content}}</p>
    </nb-card-body>

    <nb-card-footer>
        <span>
            <button nbButton [nbPopover]="templateRef" nbPopoverPlacement="bottom">Encyclopedia</button>
            <ng-template #templateRef>
                <span>{{currentChapter.encyclopedia}}</span>
            </ng-template>
        </span> | 
        <span><a [routerLink]="['/reply', currentChapter.id]">Next</a></span> | 
        <span><a [routerLink]="['/comments', currentChapter.id]">Comments</a></span> | 
        <span><a [routerLink]="['/submit', currentChapter.id]">Write your own sequel</a></span>
    </nb-card-footer>
</nb-card>