<nb-card *ngIf="currentUser != null">
    <nb-card-header>
        New Chapter
    </nb-card-header>
    <nb-card-body>
        <form (ngSubmit)="submit()">
            <input nbInput fullWidth name="title" type="text" [(ngModel)]="title" placeholder="Title">
            <textarea fullWidth name="content" nbInput type="text" [(ngModel)]="content" placeholder="Content"></textarea>
            <textarea fullWidth name="encyclopedia" nbInput type="text" [(ngModel)]="encyclopedia" placeholder="Encyclopedia"></textarea>
            <button nbButton>Submit</button>
        </form>
    </nb-card-body>
</nb-card>

<nb-card *ngIf="currentUser == null">
    <nb-card-header>
        Login or register to write a chapter
    </nb-card-header>
</nb-card>