<nb-layout>

  <nb-layout-header fixed>
  <h2><a [routerLink]="['/home']">TreeNovel</a></h2>
  <span class="right">
    <a [routerLink]="['/Category']">Categories</a> | 
    <a [routerLink]="['/discussion']">Forum</a> | 
    <a [routerLink]="['/article']">Articles</a> | 
    <a [routerLink]="['/submit']"><button nbButton>Submit</button></a> | 
    <app-auth></app-auth> | 
    <a [routerLink]="['/newreport']">Report</a>
  </span>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
  Nicolas Castronovo 2020
  </nb-layout-footer>

</nb-layout>
