<nb-card>
    <nb-card-header>
        <h3>Admin Panel</h3>
        <p><a [routerLink]="['/report']"><button nbButton>Read Reports</button></a></p>
        <p><a [routerLink]="['/newarticle']"><button nbButton>Write Article</button></a></p>
    </nb-card-header>

    <nb-card-body>
        <nb-list>
            <nb-list-item *ngFor="let item of listUser">
                <p>{{item.username }} </p>
                <p>  -  id : {{item.id}}</p>
                <p class="right"><button nbButton (click)="deleteUser(item)">Delete</button></p>
            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>