<nb-card>
    <nb-card-header>
        <p>{{currentDiscussion.writer.username}} :</p>
        <h6>{{currentDiscussion.title}}</h6>
        <p>{{currentDiscussion.content}}</p>
    </nb-card-header>

    <nb-card-body>
        <nb-list>
            <nb-list-item *ngFor="let item of repliesList">
                <p>{{item.writer.username}}</p> : 
                <p>{{item.content}}</p>
            </nb-list-item>
        </nb-list>
    </nb-card-body>

    <nb-card-footer>
        <a [routerLink]="['/newdiscussion/', currentDiscussion.id]"><button nbButton>Reply</button></a>
    </nb-card-footer>
</nb-card>
